<!--<h1>HL7 Parse Tool</h1>-->

<odx-header>
  <button odxButton odxMainMenuButton>
    <odx-icon name="menu"/>
  </button>
</odx-header>
<odx-main-menu
  [title]="title"
  [subtitle]="subtitle"
  [disabled]=false
  [isOpen]=false
>
</odx-main-menu>
<main class="odx-app-main">
  <aside class="odx-app-sidebar">
    <odx-rail-navigation #railNavigation>
      <a odxRailNavigationItem iconName="placeholder" [routerLink]="['/patient-query']">
        <span class="custom-icon-wrapper"><img src="/patient-query.svg" alt="Patient Query" /></span>
        Patient Query
      </a>
      <a odxRailNavigationItem iconName="placeholder" [routerLink]="['/config']">
        <span class="custom-icon-wrapper"><img src="/config.svg" alt="Configuration" /></span>
        Configuration
      </a>
      <a odxRailNavigationItem iconName="placeholder" [routerLink]="['/codesystem']">
        <span class="custom-icon-wrapper"><img src="/code-system.svg" alt="Code System" /></span>
        Code System
      </a>

    </odx-rail-navigation>
  </aside>
  <router-outlet></router-outlet>
</main>




