<div class="odx-app-page">
  <odx-area-header size="large">
    {{ getCodesystemDisplayName(codesystemName) }}
  </odx-area-header>

  <div class="odx-app-page__content" class="grid">
    <div class="grid-container">
      <div>
        <table odxDataTable [variant]="tablevariantValue" [dataSource]="dataSource()"
               [displayedColumns]="displayedColumns">

          <ng-container odxColumnDef="row_id">
            <th odxHeaderCell *odxHeaderCellDef>{{ 'CODESYSTEM.DETAIL.TABLE.ROW_INDEX' | translate }}</th>
            <td odxCell *odxCellDef="let element">{{ element.row_id }}</td>
          </ng-container>


          <ng-container odxColumnDef="observationtype">
            <th odxHeaderCell *odxHeaderCellDef>{{ 'CODESYSTEM.DETAIL.TABLE.OBSERVATION_TYPE' | translate }}</th>
            <td odxCell *odxCellDef="let element">{{ element.observationtype }}</td>
          </ng-container>

          <ng-container odxColumnDef="datatype">
            <th odxHeaderCell *odxHeaderCellDef>{{ 'CODESYSTEM.DETAIL.TABLE.DATA_TYPE' | translate }}</th>
            <td odxCell *odxCellDef="let element">{{ element.datatype }}</td>
          </ng-container>

          <ng-container odxColumnDef="encode">
            <th odxHeaderCell *odxHeaderCellDef>{{ 'CODESYSTEM.DETAIL.TABLE.ENCODE' | translate }}</th>
            <td odxCell *odxCellDef="let element">{{ element.encode }}</td>
            <!--<th odxHeaderCell *odxHeaderCellDef>
              <odx-form-field>
                <input #filter placeholder="Encode" (input)="filterText.set(filter.value)" type="text"
                       odxFormFieldControl/>
              </odx-form-field>
            </th>
            <td odxCell *odxCellDef="let element">
              <input [(ngModel)]="element.encode" (ngModelChange)="onEditEncode(element.tagkey, element.encode)"/>
            </td>-->
          </ng-container>

          <ng-container odxColumnDef="parameterlabel">
            <th odxHeaderCell *odxHeaderCellDef>{{ 'CODESYSTEM.DETAIL.TABLE.PARAMETER_LABEL' | translate }}</th>
            <td odxCell *odxCellDef="let element">{{ element.parameterlabel }}</td>
          </ng-container>

          <ng-container odxColumnDef="encodesystem">
            <th odxHeaderCell *odxHeaderCellDef>{{ 'CODESYSTEM.DETAIL.TABLE.ENCODE_SYSTEM' | translate }}</th>
            <td odxCell *odxCellDef="let element">{{ element.encodesystem }}</td>
          </ng-container>

          <ng-container odxColumnDef="subid">
            <th odxHeaderCell *odxHeaderCellDef>{{ 'CODESYSTEM.DETAIL.TABLE.SUB_ID' | translate }}</th>
            <td odxCell *odxCellDef="let element">{{ element.subid }}</td>
          </ng-container>

          <ng-container odxColumnDef="description">

            <th odxHeaderCell *odxHeaderCellDef>
              <odx-form-field>
                <input #filter [attr.placeholder]="('CODESYSTEM.DETAIL.TABLE.DESCRIPTION' | translate)" (input)="filterText.set(filter.value)" type="text"
                       odxFormFieldControl/>
              </odx-form-field>
            </th>
            <td odxCell *odxCellDef="let element">
              <input [(ngModel)]="element.description"
                     (ngModelChange)="onDescriptionInput(element.tagkey, element.description)"
                     [disabled]="element.source === 'UOM' || !element.source"/>
            </td>
          </ng-container>

          <ng-container odxColumnDef="source">
            <th odxHeaderCell *odxHeaderCellDef>{{ 'CODESYSTEM.DETAIL.TABLE.SOURCE' | translate }}</th>
            <td odxCell *odxCellDef="let element">{{ element.source }}</td>
          </ng-container>

          <ng-container odxColumnDef="channel">
            <th odxHeaderCell *odxHeaderCellDef>{{ 'CODESYSTEM.DETAIL.TABLE.CHANNEL' | translate }}</th>
            <td odxCell *odxCellDef="let element">{{ element.channel }}</td>
          </ng-container>

          <ng-container odxColumnDef="channelid">
            <th odxHeaderCell *odxHeaderCellDef>{{ 'CODESYSTEM.DETAIL.TABLE.CHANNEL_ID' | translate }}</th>
            <td odxCell *odxCellDef="let element">{{ element.channelid }}</td>
          </ng-container>


          <!-- 无数据的展示 -->
          <odx-table-empty>{{ 'COMMON.NOT_FOUND' | translate }}</odx-table-empty>

        </table>
      </div>

    </div>
  </div>
  <div class="odx-app-page__footer">
    <odx-paginator
      [pageSize]="pageSize"
      [length]="totalItems"
      [pageIndex]="page - 1"
      (pageChanged)="onPageChange($event)"
    />
  </div>
</div>
<ng-template [odxModal]="args" #modal="odxModal" let-modalRef>
<!--  <odx-modal-header>
    <odx-area-header>{{ 'APP.TITLE' | translate }}</odx-area-header>
  </odx-modal-header>-->
  <odx-modal-hero [icon]="modalRef.data?.heroIcon" [variant]="modalRef.data?.heroVariant">
   <!-- {{ 'APP.TITLE' | translate }}-->
  </odx-modal-hero>
  <odx-modal-content>
    <p>
      <strong>{{ modalRef.data?.message }}</strong>
    </p>
  </odx-modal-content>
  <odx-modal-footer>
    <button odxButton variant="primary" odxModalClose>Close</button>
  </odx-modal-footer>
</ng-template>
